.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-logo {
  width: 200px;
  margin-left: 10px;
}

.top-header-div {
  background-color: white;
  height: 80px;
}

.bottom-header-div {
  background: #5cb85c !important;
  border: none;
  min-height: 50px;
}

.contain-navbar-buttons {
  width: 100%;
}

.navbar-button {
  background-color: inherit;
  color: white !important;
  margin: auto 5px auto 5px;
}
.navbar-button * {
  color: white !important;
}

.glyphicon {
  padding-right: 3px;
}

.contain-logo {
  text-align: left;
}
.container {
  text-align: left;
  align-content: left;
  margin-left: 0px;
}

.search-results-span {
  color: orange;
}

.contain-search {
  text-align: left;
  margin: 0 30px 0 30px;
  font-size: 1.3em;
}

.contain-dropdown {
  margin-top: 20px;
}

.contain-main {
  background-color: #eee;
  margin: 20px 10px 10px 10px;
  /* height: 800px; */
  overflow-y: auto;
  padding: 50px 20px 30px 20px;
}

.card-image img {
  width: 100%;
}

.card {
  background-color: white;
  padding: 0;
  margin: 0;
}

.contain-card {
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-reveal {
  display: none;
}

.card-text {
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
}
.card-title {
  font-size: 1.4em;
}

.card-action {
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fa-gold-star {
  color: gold;
  font: normal normal normal 20px/1 FontAwesome !important;
}

.contain-stars {
  text-align: left;
  padding: 7px 0px 10px 10px;
}

.contain-btn-view-profile {
  padding: 0;
}

.silver-span {
  color: grey;
}

.col-star {
  display: inline-block;
  padding: 1px;
}

.card-footer {
  height: auto;
}

.contain-card-text {
  overflow-y: auto;
  overflow-x: hidden;
}

.main-left-column {
  margin-bottom: 20px;
}

.main-right-column {
  padding-right: 65px;
  margin-bottom: 20px;
}

.list-group-item {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 5px 5px 5px;
  vertical-align: middle;
  border: 0;
}

@media (max-width: 1500px) {
  .fa-gold-star {
    font: normal normal normal 18px/1 FontAwesome !important;
  }
}

@media (max-width: 1400px) {
  .fa-gold-star {
    font: normal normal normal 16px/1 FontAwesome !important;
  }
}

@media (max-width: 1300px) {
  .fa-gold-star {
    font: normal normal normal 14px/1 FontAwesome !important;
  }
}

@media (max-width: 1300px) {
  .fa-gold-star {
    font: normal normal normal 14px/1 FontAwesome !important;
  }
  .btn-view-profile {
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  .fa-gold-star {
    font: normal normal normal 28px/1 FontAwesome !important;
  }

  .btn-view-profile {
    font-size: 20px;
  }

  .main-right-column {
    padding-right: 15px;
    padding-left: 15px;
  }

  .main-right-column, .main-left-column{
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  .fa-gold-star {
    font: normal normal normal 22px/1 FontAwesome !important;
  }

  .btn-view-profile {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .fa-gold-star {
    font: normal normal normal 16px/1 FontAwesome !important;
  }

  .btn-view-profile {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .fa-gold-star {
    font: normal normal normal 5vw/1 FontAwesome !important;
  }

  .btn-view-profile {
    font-size: 3vw;
  }
}